*.iml
.gradle
/local.properties
/.idea
/.idea/misc.xml
.idea/
.DS_Store
/captures
.externalNativeBuild
.idea/misc.xml
.idea/modules.xml


/build/
/app/build/generated/
/app/build/intermediates/
/app/build/tmp/
/app/build/reports/
/app/build/outputs/logs/
/app/build/outputs/apk/debug/
app/build/outputs/logs/manifest-merger-debug-report.txt
