*.iml
.gradle
/local.properties
/.idea
/.idea/misc.xml
.idea/
.DS_Store
/build/
/app/build/generated/
/app/build/intermediates/
/app/build/tmp/
/captures
.externalNativeBuild
.idea/misc.xml
.idea/modules.xml
