<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.application">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.andreyko0.myapplication.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.andreyko0.myapplication.ProductActivity" />
        <activity android:name="com.example.s1k0de.entry.EntryFormActivity" />
        <activity android:name="com.example.s1k0de.entry.RegistrationFormActivity" />
        <activity
            android:name=".add_item_parameters"
            android:label="@string/title_activity_add_item_parameters"
            android:parentActivityName="com.example.andreyko0.myapplication.ScrollingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andreyko0.myapplication.ScrollingActivity" />
        </activity>
        <activity android:name="com.example.andreyko0.myapplication.item_parameters"></activity>
    </application>

</manifest>